h1 {
  color: #006400;
  background-color: Honeydew;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
div {
  color: #2F4F4F;
  background-color: Honeydew;
  font-size: 100%;
  font-family: Arial, Verdana, sans-serif;
}
ul {
  color: #2F4F4F;
  background-color: Honeydew;
  font-size: 100%;
  font-family: Arial, Verdana, sans-serif;
}
body {
    background: #66CDAA;
    color: #9400D3;
}